$primary-color: #e56ab3;
$white: #FFF;

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vh;
    .box{
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30vh;
        height: 35vh;
        align-items: center;
        padding: 1rem;
        border-radius: 1vh;
        img{
            width: 90%;
            height: 100%;
            border-radius: 1vh;
            object-fit: cover;
            justify-content: center;
        }
        p{
            padding-top: 1vh;
            margin-top: 1vh;
            color: $white ;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
    }

}
