$white: whitesmoke;
$primary-color: #e56ab3;
$secondary-color: #e766e7;
$third-color: #a7a7a7;
.MyAccountcontent, .content {
  padding-top: 3vh;
  color: $white;
  clear: none;
}

.info-area {
  padding-left: 10vh;
  padding-right: 10vh;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  .info-box-area {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 1vh;
    .label-box {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 550;
      gap: 1vh;
    }
    .input-box {
      border: 0;
      max-width: 100%;
      padding: 5vh;
      border-radius: 2rem;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      &::placeholder {
        color: $white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: x-large;
        font-weight: bold;
      }
    }
  }
}

// Payments

.high-area {
  max-width: max-content;
  display: flex;
  border-radius: 1rem;
  flex-direction: row;
  background-color: $primary-color;
  padding: 1vh;
  gap: 5vh;
  .value {
    font-size: x-large;
    font-weight: 700;
  }
  .payment-info {
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3vh;
    .button-lily {
      font-size: large;
      font-weight: bolder;
    }
  }
  .flower {
    width: 30vh;
  }
  .card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .creditcard {
      max-width: 40vh;
    }
  }
  .label {
    align-items: center;
  }
}

//APP CONFIG

.form-settings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: max-content;
  border-radius: 1rem;
  background-color: $primary-color;
  padding: 1vh;
  gap: 2vh;
}

// Use
.chart {
  border-radius: 1rem;
}

@media (max-width: 752px) {
  .titleMyAccount {
    margin-top: 3vh;
  }
  .info-area {
    padding-left: 10vh;
    padding-right: 10vh;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    .info-box-area {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      gap: 1vh;
      .input-box {
        max-width: 100%;
        padding: 3vh;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &::placeholder {
          font-size: smaller;
        }
      }
    }
  }
}

@media (min-width: 616px) {

  .titleMyAccount {
    margin-top: 3vh;
  }
  .info-area {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    .info-box-area {
      width: 100%;
      .input-box {
        &::placeholder {
          font-size: x-large;
        }
      }
    }
  }
}
