$primary-color: #831283;
$white-bg: #fff;
$secundary-color: #f6aef6;
$third-color: #c44e93;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../logo/backgroundHome.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  transition: 0.3s;
  justify-content: center;
  .logo-element {
    img {
      border-radius: 100%;
      width: 10vh;
    }
  }
  .navbar00 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 1rem;
    background-color: $primary-color !important;
    padding: 1vh;
    gap: 1.5vh;
    transition: 0.4s;
    img {
      width: 4vh;
      filter: invert(10%) !important;
      filter: opacity(70%) !important;
    }
    &:hover {
      padding: 1rem;
      transition: 0.4s;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
}

.aside {
  display: flex;
  justify-content: right;
  .icon {
    width: 4vh;
    filter: invert(10%) !important;
    filter: opacity(70%) !important;
  }
  .btn-rose {
    margin: 1rem;
    background-color: $primary-color;
    border: 0;
    border-radius: 1rem;
    &:active {
      transition: 0.4s;
    }
  }
}

.sectioncarousel {
  background-color: $white-bg;
  border-radius: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .carouselContent {
    margin: auto 8rem;
    // height: 85%;
    .info-board {
      display: flex;
      // height: 40vh;
      align-items: center;
      justify-content: center;
      gap: 1vh;
      flex-direction: column;
      .menstruation-day-counter {
        display: flex;
        gap: 2vh;
        align-items: center;
        justify-content: center;
      }
      .lower-box {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1vh;
        align-items: center;
        color: $third-color;
        .ovulation-box {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white-bg;
          font-weight: 650;
          font-size: 3vh;
          width: 5vh;
          background-color: $primary-color;
          border-radius: 1vh;
        }
        .cycleday-box{
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white-bg;
          font-weight: 650;
          font-size: 2vh;
          width: 3.5vh;
          background-color: $primary-color;
          border-radius: 0.9vh;
        }
      }
    }
    .slide1 {
      align-items: center;
      .daysP {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-bg;
        font-weight: 650;
        font-size: 10vh;
        width: 25%;
        background-color: $primary-color;
        border-radius: 1rem;
        box-shadow: $secundary-color 10px 10px 1rem;
      }
      b {
        margin-top: 1.3rem;
        font-size: 4vh;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        text-transform: lowercase;
        color: $third-color;
      }
    }
  }
  .slide2 {
    display: flex;
    height: 100%;
    flex-direction: column;
    .slide2-header{
      // 
    }
    .checkbox-area {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      div {
        display: flex;
        gap: 1vh;
        align-items: center;
        input {
          background-color: $third-color;
          border: 0;
          padding: 4vh;
        }
      }
    }
    button {
      margin-top: 1rem;
      width: 100%;
      background-color: $third-color;
      border: 0;
      &:active {
        transition: 0.4s;
      }
    }
    h2 {
      color: $primary-color;
    }
  }
}

.offcanva{
  border-radius: 1vh;
  padding: 1rem;
  margin: 1rem;
}

.calendar{
  display: flex;
  .info{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    height: 100vh;
    .calendar-box{
      display: flex;
      background-color: $third-color;
      padding: 1vh;
      
      border-radius: 1vh;
      flex-direction: column;
      p{
        font-size: smaller;
      }
      b{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        color: $white-bg;
      }
    }
    
  }
}


.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.principalBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  .sectioncarousel {
    width: 100vh;
    height: 50vh;
  }
}
.arrow {
  background-color: transparent !important;
}
.arrow-btn {
  background-color: $third-color;
  width: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.calendar{
  background-color: transparent;
  font-size: large;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-color;
  button{
    background-color: transparent;
    color: $third-color;
    
    height: 5vh;
    border: 3px solid $primary-color;
    border-radius: 1vh ;
    &:focus{
      background-color: $secundary-color;
    }
  }
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

// settings

.construction-boundary {
  display: flex;
  padding-top: 15%;
  justify-content: center;
  flex-direction: column;
  color: $white-bg;
  align-items: center;
}

.lilyLogo {
  width: 10vh;
  border-radius: 100%;
}
