.mainContent {
  // display: flex;
  // flex-direction: row;
}
main{
  // position: fixed;
  // float: right;  
  width: 100%;
  
}

@media (max-width: 616px) {
  .mainContent{
    display: flex ;
    flex-direction: column;
    width: 100vh;
  }

}