* {
  overflow: hidden;
}

.mainContent {
  background-color: #c44e93;
  height: 100vh;
}

.tabBar {
  background-color: #f6aef6;
  color: #fff;
  max-width: 65vh;
  height: auto;
  .profile-info {
    font-weight: 550;
    display: flex;
    background-color: #690b69;
    padding: 1rem;
    flex-direction: column;
    .upper-area {
      width: 100%;
      align-items: center;
      display: flex;
      align-items: center;
      .span {
        margin-left: 1vh;
      }
    }

    .profile-element {
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: column;
    }
    .logo-element {
      .logo-img {
        width: 5vh;
        border-radius: 100%;
      }
    }
    .profile {
      align-items: center;
      justify-content: center;
      display: flex;
      max-width: 20vh;
    }
  }
  .tabBarLinks {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    max-height: 70vh;
    grid-template-columns: 1fr;
    overflow-y: scroll !important;
    &::-webkit-scrollbar {
      width: 0.9vh;
    }
    &::-webkit-scrollbar-track {
      background: transparent ;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #690b69;
      border-radius: 1rem;
    }
    .box {
      width: 100%;
      display: flex;
      border: 1px solid;
      align-items: center;
      font-size: x-large;
      padding-left: 2rem;
      color: #9b7399;
      font-weight: 650;
      height: 100%;
      padding: 10vh;
    }
  }
  .footer {
    font-weight: 150;
    color: #fff;
    background-color: #690b69;
  }
}
